:root {
  --max-width: 1170px;

  /* colors */
  --neutral-900: #062630;
  --neutral-700: #385159;
  --neutral-200: #e6e1df;
  --neutral-100: #faf5f3;
  --neutral-0: #ffffff;
  --light-salmon-500: #fea36f;
  --light-salmon-100: #ffe2d1;
  --light-salmon-50: #fff5ef;
  --text-gradient: linear-gradient(
    107deg,
    var(--light-salmon-500) -11.37%,
    var(--neutral-900) 61.84%
  );
  --gradient: linear-gradient(
    90deg,
    var(--light-salmon-100) 0%,
    var(--light-salmon-50) 100%
  );

  /* font */
  --font-martian-mono: "Martian Mono", monospace;
  --font-inter: "Inter", sans-serif;

  /* radius */
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  /* images */
  --pattern-light-bg: url("../assets/images/pattern-light-bg.svg");
  --pattern-dark-bg: url("../assets/images/pattern-dark-bg.svg");
  --pattern-glow: url("../assets/images/pattern-glow.svg");
  --pattern-arrow: url("../assets/images/pattern-arrow.svg");
  --pattern-circle: url("../assets/images/pattern-circle.png");
  --logo: url("../assets/images/logo.svg");
  --logo-bluesky: url("../assets/images/logo-bluesky.svg");
  --logo-linkedin: url("../assets/images/logo-linkedin.svg");
  --logos-tech: url("../assets/images/logos-tech.svg");
  --favicon32: url("../assets/images/favicon-32x32.png");
  --icon-arrow-down: url("../assets/images/icon-arrow-down.svg");
  --icon-arrow-up: url("../assets/images/icon-arrow-up.svg");
  --icon-check: url("../assets/images/icon-check.svg");
  --icon-star: url("../assets/images/icon-star.svg");
}

body {
  box-sizing: border-box;
  font-family: var(--font-martian-mono);
  color: var(--neutral-900);
}

h1,
h2,
p,
ul,
li,
hr,
blockquote {
  margin: 0;
  padding: 0;
}

p,
li {
  font-family: var(--font-inter);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 140%;
  color: var(--neutral-700);
}

ul {
  list-style-type: none;
}

.section {
  box-sizing: border-box;
  margin: 120px auto;
}

.section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 130%;
}

.action-btn {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  border-radius: var(--radius-8);
  padding: 20px 24px;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 130%;
}

.light {
  border-color: var(--neutral-900);
  color: var(--neutral-900);
  background: var(--light-salmon-50);
}

.dark {
  border-color: var(--neutral-0);
  color: var(--neutral-0);
  background: transparent;
}

.action-btn.light:hover,
.action-btn.light:active {
  background: linear-gradient(
    90deg,
    var(--light-salmon-100) 0%,
    var(--light-salmon-50) 100%
  );
}

.action-btn.dark:hover,
.action-btn.dark:active {
  background: linear-gradient(
    90deg,
    var(--neutral-700) 0%,
    var(--neutral-900) 100%
  );
}

.icon-check {
  display: inline-block;
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 768px) {
  .section {
    margin: 80px auto;
  }
}

@media screen and (max-width: 375px) {
  .section {
    margin: 64px auto;
  }

  .section-title {
    font-size: 34px;
  }

  .action-btn {
    font-size: 16px;
  }
}
